  <!--=================================
            Footer
            ===================================== -->
          </div>
<footer class="site-footer">
    <div class="container">
      <div class="row justify-content-between section-padding">
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="single-footer pb--40">
            <div class="brand-footer footer-title">
              <img src="https://htmldemo.net/pustok/pustok/image/logo--footer.png" alt="" />
            </div>
            <div class="footer-contact">
              <p>
                <span class="label">Address :</span
                ><span class="text"
                  >FPT Polytechnic</span
                >
              </p>
              <p>
                <span class="label">Phone :</span
                ><span class="text">0999999999</span>
              </p>
              <p>
                <span class="label">Email :</span
                ><span class="text">qhuy.dev@gmail.com</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-2 col-sm-6">
          <div class="single-footer pb--40">
            <div class="footer-title">
              <h3>Information</h3>
            </div>
            <ul class="footer-list normal-list">
              <li><a href="">Prices drop</a></li>
              <li><a href="">New products</a></li>
              <li><a href="">Best sales</a></li>
              <li><a href="">Contact us</a></li>
              <li><a href="">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-2 col-sm-6">
          <div class="single-footer pb--40">
            <div class="footer-title">
              <h3>Extras</h3>
            </div>
            <ul class="footer-list normal-list">
              <li><a href="">Delivery</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">Stores</a></li>
              <li><a href="">Contact us</a></li>
              <li><a href="">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6">
          <div class="footer-title">
            <h3>Newsletter Subscribe</h3>
          </div>
          <div class="newsletter-form mb--30">
            <form action="./php/mail.php">
              <input
                type="email"
                class="form-control"
                placeholder="Enter Your Email Address Here..."
              />
              <button class="btn btn--primary w-100">Subscribe</button>
            </form>
          </div>
   
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p class="copyright-heading">
          Chào Mừng Bạn Đến Với Trang Bán Sách Uy Tín Số 1 Việt Nam
        </p>
        <a href="#" class="payment-block">
          <img src="https://htmldemo.net/pustok/pustok/image/icon/payment.png" alt="" />
        </a>
        <p class="copyright-text">
          Copyright © 2023 <a href="#" class="author">HuyDev</a>. All Right
          Reserved.
          <br />
          Design By Lê Quốc Huy
        </p>
      </div>
    </div>
  </footer>
  <!-- Use Minified Plugins Version For Fast Page Load -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.all.min.js"></script>
  <script src="/assets/js/plugins.js"></script>
  <script src="/assets/js/custom.js"></script>
</body>
</html>