<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Pustok - Book Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/css/plugins.css"
    />
    <!-- sweetalert2-->
    <link
      class="main-stylesheet"
      href="/assets/css/sweetalert2/default.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-loading-overlay/2.1.7/loadingoverlay.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/assets/css/main.css"
    />
    <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico" />
  </head>

  <body>
    <div class="site-wrapper" id="top">
      

