
.huydev {
  background-color: #fcfcfd;
  border: 1px solid #607d8b;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  transition: 0.5s;
  box-shadow: 0px 30px 0px -20px #607d8b;
  margin-bottom: 30px;
  border-bottom: 3px solid #607d8b;
  text-align: center;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.line-center {
  height: 3px;
  width: 50px;
}

.theme-bg {
  background-color: #2554ba;
}
